## .NET Core build output
bin/
obj/

## Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/

## NuGet Packages
*.nupkg
packages/

## Visual Studio Code
.vscode/