IyMgLk5FVCBDb3JlIGJ1aWxkIG91dHB1dApiaW4vCm9iai8KCiMjIFZpc3VhbCBTdHVkaW8gZmlsZXMKLnZzLwoquLnVzZXIKKi51c2Vyb3NzY2FjaGUKKi5zbG4uZG9jc3RhdGVzCgojIyBCdWlsZCByZXN1bHRzCltkRF1lYnVnLwpbclJdZWxlYXNlLwoKIyMgTnVHZXQgUGFja2FnZXMKKi5udXBrZwpwYWNrYWdlcy8KCiMjIFZpc3VhbCBTdHVkaW8gQ29kZQoudnNjb2RlLw==