## .NET Core build output
bin/
obj/
artifacts/
project.lock.json
project.fragment.lock.json

## Visual Studio files
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*

## Visual Studio Code
.vscode/*
*.code-workspace

# Rider files
.idea/
*.sln.iml

