@using MudBlazor

<div>
    <MudText Typo="Typo.h6" Color="Color.Surface" Class="mb-4">@Title</MudText>
    <MudList Dense="true" DisablePadding="true">
        @foreach (var link in Links)
        {
            <MudListItem Href="@link.Value" Color="Color.Surface">
                @link.Key
            </MudListItem>
        }
    </MudList>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public Dictionary<string, string> Links { get; set; }
}