<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Islamic POS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pos">
                <span class="oi oi-cart" aria-hidden="true"></span> Point of Sale
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="finance/zakaat">
                <span class="oi oi-calculator" aria-hidden="true"></span> Zakaat Calculator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="finance/contracts">
                <span class="oi oi-document" aria-hidden="true"></span> Islamic Contracts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span class="oi oi-box" aria-hidden="true"></span> Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
